Source: bacchus-lab-env
Section: misc
Priority: optional
Maintainer: Bacchus <contact@bacchus.snucse.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: bacchus-lab-env
Architecture: all
Depends: ${misc:Depends}, packaging-dev, build-essential, git, wget, vim, vim-gnome, zsh, nodejs, nodeenv, ruby, python, python3, ocaml, fish, irssi, weechat, htop, tmux, screen, emacs, codeblocks, mosh, silversearcher-ag, clang, racket, openjdk-8-jdk, intellij-idea-community, rustc, rust-lldb, rust-gdb, cargo, cargo-doc, wakeonlan, valgrind, python-virtualenv, python3-virtualenv, virtualenvwrapper, gdb, rsync, pv, sshfs, curl, gawk, eclipse, eclipse-cdt, eclipse-cdt-autotools, eclipse-cdt-valgrind, eclipse-jdt, code, atom, scala, python-numpy, python3-numpy, python-matplotlib, python3-matplotlib, ipython, ipython3, ipython-notebook, ipython3-notebook, python-pandas, python3-pandas, python-flask, python3-flask, libhdf5-dev, hdf5-tools, hdf5-helpers, python-h5py, python3-h5py
Description: Lab environment
