[Unit]
Description=Bacchus system updater
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/bacchus-system-updater
