Source: pam-bacchus
Section: misc
Priority: optional
Maintainer: Bacchus <contact@bacchus.snucse.org>
Build-Depends: debhelper (>= 9), libpam0g-dev, libcurl3-dev
Standards-Version: 3.9.8

Package: pam-bacchus
Architecture: all
Depends: ${misc:Depends}, libpam0g, libcurl3
Description: PAM module that authenticates with id backend
