[Unit]
Description=Script to execute after cloning PCs

[Service]
Type=simple
ExecStart=/usr/sbin/bacchus-postdist

[Install]
WantedBy=multi-user.target
