Source: bacchus-id
Section: net
Priority: optional
Maintainer: Bacchus <contact@bacchus.snucse.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: bacchus-id
Architecture: all
Depends: ${misc:Depends}, libpam-ldap, libnss-ldapd
Description: CSE ID integration for lab PCs
