Source: bacchus-postdist
Section: misc
Priority: optional
Maintainer: JangHo Seo <jangho@jangho.kr>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: bacchus-postdist
Architecture: all
Depends: ${misc:Depends}, bash, systemd, bacchus-snunet
Description: Script to execute after cloning PCs
