Source: bacchus-ise-usb
Section: misc
Priority: optional
Maintainer: JangHo Seo <jangho@jangho.kr>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: bacchus-ise-usb
Architecture: all
Depends: ${misc:Depends}, fxload, libusb-0.1-4, libusb-dev
Description: Xilinx USB Driver for ISE
