[Unit]
Description=Lab exam mode
Conflicts=bacchus-normal-mode.service

[Service]
ExecStart=/usr/bin/exam-ufw-enable
Type=oneshot
RemainAfterExit=yes
