Source: bacchus-lab
Section: misc
Priority: optional
Maintainer: Bacchus <contact@bacchus.snucse.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: bacchus-lab
Architecture: all
Depends: ${misc:Depends}, bacchus-cse-wallpaper, bacchus-desktop-env, bacchus-lab-env, bacchus-misc, bacchus-postdist, bacchus-shutdown, bacchus-snunet, bacchus-sync, bacchus-ise-scripts, bacchus-vivado-scripts
Description: CSE Lab PC
