[Unit]
Description="Home directory"
After=network.target

[Mount]
What=147.46.78.91:/csehome
Where=/sherry
Type=nfs4
Options=rsize=32768,wsize=32768

[Install]
WantedBy=multi-user.target
